{% if not isIndex %}
<footer class="footer bg-light overflow-auto">
    <div class="container main">
        {% if query %}
        <div class="card">
            <div class="card-header text-center">Executed Query:</div>
            <div class="card-body">
                <pre>{% for i in range(query|length) %}Query {{i+1}}:<code class="sql">{{ query[i][0] }}</code>{% if query[i][1] %} Parameters:<code>{{query[i][1]}}</code>{% endif %}{% endfor %}</pre>
            </div>
        </div>
        {% endif %}
        <div class="card b-offset" style="width:100%;height:300px;">
            <div class="reveal">
                {% if slides %}
                    {% include slides ignore missing %}
                {% endif %}
            </div>
        </div>
    </div>
</footer>

<script src="{{ url_for('static', filename='dist/reveal.js') }}"></script>
<script src="{{ url_for('static', filename='plugin/highlight/highlight.js') }}"></script>
<script src="{{ url_for('static', filename='js/highlight.min.js') }}"></script>
<script>
    Reveal.initialize({
        hash: true,
        embedded: true,
        width: "99%",
        height: "100%",
        margin: 0,
        minScale: 1,
        maxScale: 1,
        slideNumber: "c/t",

        plugins: [RevealHighlight]
    });
    
    function getCookie(name) {
        // https://stackoverflow.com/questions/10730362/get-cookie-by-name
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    Reveal.on("slidechanged", event => {
        document.cookie="{{cname}}_slide=" + event.indexh + ";path=/";
    });
    const cookieValue = getCookie("{{cname}}_slide");
    if (cookieValue) {
        Reveal.slide(cookieValue);
    }
</script>
<script>hljs.initHighlightingOnLoad();</script>
{% endif %}
