    {% extends "layout.html" %}
    {% block title %}Home{% endblock %}
    {% block body %}
        <!-- Begin Page Content -->
        <div class="container main pb">
        
            <!-- Page Heading -->
            <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Cards</h1>
            </div> -->
                {% for k,v in tracks.items() %}
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <div class="m-0 font-weight-bold text-primary">Track: {{ k }}</div>
                    </div>
                    <div class="card-body">
                        {% for i in v %}
                        <div class="card b-offset border-left-{{ i.difficulty.lower() }}">
                            <div class="card-header py-3">
                                <div class="pull-right body-med diff-{{i.difficulty.lower()}}">{{ i.difficulty }}</div>
                                <h6 class="m-0 font-weight-bold"><a class="deco-none" href="{{url_for(i.name + '.home')}}">{{ i.title }}</a></h6>
                            </div>
                            <div class="card-body">
                                <p>{{ i.description }}</p>
                                <a href="{{url_for(i.name + '.home')}}">Start</a>
                            </div>
                        </div><!-- /.card .shadow-->
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div><!-- /.container-fluid -->
        </div><!-- End of Main Content -->
        
        </div><!-- End of Content Wrapper -->
        </div>
    </body>
</html>
{% endblock %}