<div class="slides">
    {% if cdesc %}
    <section class="desc-slide">
        <h2>Goal:</h2>
        <p>{{ cdesc }}</p>
    </section>
    {% endif %}
    <section>
<p>
The login form is vulnerable to SQL injection, and it is possible to bypass the login by using <code>' OR 1=1--</code>
as a username.
</p> 
<p>
Before we can dump all the passwords, we need to identify places on the page where data from the login
query is used. After logging in, the name of the currently logged-on user is displayed in the top right corner, and it might
be possible to dump the data there or in the session cookie. A UNION based injection will be used to dump the passwords.
</p>
    </section>
    <section>
<p>
There are two key requirements that must be met for a UNION based injection to work:
<ul>
    <li>The number of columns in the injected query must be the same as in the original query</li>
    <li>The data types for each column must match the corresponding type</li>
</ul>
</p>
    </section>
</div>