<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <ul class="nav navbar-nav">
                {% if not csession %}
                <li><a href="{{ url_for('.login') }}">Login</a></li>
                {% else %}
                <li><a href="{{ url_for('.home') }}">Home</a></li>
                <li><a href="{{ url_for('.notes') }}">Notes</a></li>
                <li><a href="{{ url_for('.changepwd') }}">Profile</a></li>
                <li><a href="{{ url_for('.logout') }}">Logout</a></li>
                {% endif %}
            </ul>
            <div class="navbar-text navbar-right">
                {% if csession %}
                Logged in as {{ csession_name }} | 
                {% endif %}
                <a href="{{ url_for('index') }}" >[Main Menu]</a>
            </div>  
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}