{% extends "challenges/challenge1/layout.html" %}
{% block title %}Register{% endblock %}
{% block body %}
<div class="login-form">
    <form action="{{ url_for('.signup') }}" method="post">
        <h2 class="text-center">Signup</h2>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" required="required" name="username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" required="required" name="password">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </div>
        <div class="clearfix">
            <label class="pull-left checkbox-inline"></label>
        </div>
    </form>
    <p class="text-center"><a href="{{ url_for('.login') }}">Login</a></p>
</div>
</div>
{% include 'footer.html' %}
</body>

</html>
{% endblock %}